
        body {
            background-color: #f5f5f5;
        }

        .signup-form {
            width: 340px;
            margin: 50px auto;
            font-size: 15px;
        }

        .signup-form form {
            margin-top: 20px;
            background: #fff;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            padding: 40px;
        }

        .signup-form h2 {
            margin: 0 0 15px;
        }

        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }

        .signup-form a {
            color: #fff;
            text-decoration: underline;
        }

        .signup-form .hint-text {
            margin-bottom: 15px;
            text-align: center;
        }

        .signup-form .form-group {
            margin-bottom: 20px;
        }

        .signup-form input[type="checkbox"] {
            margin-top: 3px;
        }

        .signup-form .btn {
            margin-top: 20px;
            width: 100%;
        }

        .signup-form .fa {
            margin-right: 5px;
        }

        .or-seperator {
            margin: 20px 0 10px;
            text-align: center;
            border-top: 1px solid #ccc;
        }

        .or-seperator i {
            padding: 0 10px;
            background: #f5f5f5;
            position: relative;
            top: -11px;
            z-index: 1;
        }

        .signup-form .terms {
            margin-top: 10px;
            font-size: 13px;
            text-align: center;
        }

        .signup-form .terms a {
            color: #007bff;
            text-decoration: none;
        }

        .signup-form .terms a:hover {
            text-decoration: underline;
        }
    